.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px 0px
}
.container>*{
  
  margin:10px 0px;
}

.canva{
  border: 1px blue solid;
  border-radius: 6px;
}

.params{
 display: flex;
}

.actions{
 display: flex;
 justify-content: space-between;
}